################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChromaGlobs/app/google-services.json
/~$rd and Game Design description.docx
